/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

body{
    max-width: 1080px;
    margin: auto;
    padding: 80px 20px;
    font-family: sans-serif;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
}


.category {
    font-size: 10px;
    color: #797979;
}
.price {
    font-size: 10px;
    text-align: right;
    padding: 0 0 10px 0;
    color: #797979;
}

a:hover {
  opacity: .6;
}
#filters {
    float: left;
    width: 200px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}
#filters.expanded{
    height: 300px;
}

.filter_btn {
    display: none;
}

/* products styles */
.products {
  padding-left: 200px;
}

.products > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  list-style: none;
}

.products > ul > li {
  /* border: 1px solid #E2E2E2;
  border-radius: .5rem; */
  
}

.products > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  position: relative;
  margin: 0;
  cursor: pointer;
}

.products > ul > li > figure  img {
  width: 100%;
}

.products > ul > li > figure figcaption {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  width: 60%;
}

.products > ul > li > figure  figcaption > h3 {
    color: black;
    margin: 12px 0 6px 0;
    font-size: 12px;
}

.products > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.products > ul > li > a {
  padding: .5rem 1rem;
  margin: .5rem;
}

.rating {
    float: left;
    font-size: 12px;
}

.cart-btn {
    text-align: right;
    font-size: 25px;
}

/* footer */
header {
  height: 50px;
  margin-bottom: 20px;
}

header .left {
    float: left;
}

header .right {
    float: right;
}

header .logo {
    float: left;
}

header .logo img {
    height: 100%;
    width: 50px;
}

#content_wrapper {
    display: block;
    clear: both;
}

.secondary_text {
    font-size: 12px;
    color: #797979;
}

.form-control {
    display: block;
    margin: 0 0 13px 0;
}
.form-control select, .form-control input {
    width: 100%;
}
select {
    border: none;
    border-bottom: 1px solid #ababab;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
    font-size: 12px;
    color: #797979;
}
input {
    border: none;
    border-bottom: 1px solid #ababab;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
    font-size: 12px;
}

#slider-range {
    height: 0;
    margin-top: 15px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
    border-radius: 8px;
    width: 12px;
    height: 12px;
    top: -7px;
}

.form-control label{
    font-size: 12px;
    color: #797979;
}
.nav {
    list-style: none;
    padding-left: 80px;
}

.nav li{
    display: inline;
    margin-right: 40px;
}

.nav li:last-child {
    margin: 0;
}


a.link {
    font-size: 12px;
    text-decoration: none;
    color: #5a5a5a;
}
.search_icon{
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}

.cart_icon{
    padding: 10px;
    cursor: pointer;
}

.search {
    display: none;
}

.search.active {
    display: inline;
}
.filter_icon{
    padding: 11px;
    font-size: 20px;
    background: #afafaf;
    color: #ffffff;
}

.description {
    font-size: 13px;
}
.big_font{
    font-size: 22px;
    margin: 0;
}
.btn {
    background: #000;
    border: none;
    color: #fff;
    padding: 10px 18px;
    margin: 10px;
    cursor: pointer;
}
.details {
    margin-top: 50px;
}

.details .slider {
    float: left;
    width: 400px;
}

.details .slider img {
    max-width: 100%;
    max-height: 400px;
    margin-top: 20px;
}

.details .data {
    padding: 40px 40px 40px 400px;
}

.not_found {
    text-align: center;
    padding: 30px;
}

@media screen and (max-width: 680px) {
    .details .slider {
        width: 300px;
    }
    .details .data {
        padding: 30px 30px 30px 300px;
    }
}


@media screen and (min-width: 550px) {
    #filters{
        height: 300px;
    }
}

@media screen and (max-width: 750px) {
    .search{
        display: none;
    }
    body {
        padding: 20px;
    }
}
@media screen and (max-width: 550px) {
    header .left {
        width: 100%;
    }
    header .right {
        width: 100%;
        padding: 20px 0;
    }

    #filters {
        width: 100%;
        margin-bottom: 20px;
    }
    .products {
        display: block;
        clear: both;
        padding: 0;
    }
    .products ul {
        display: contents;
    }
    .filter_btn{
        display: block;
    }

    .details .slider {
        width: 100%;
    }
    .details .data {
        padding: 0;
    }
}

